<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="TDConnection" connectionString="Data Source=localhost;Initial Catalog=denebakalim;User Id=dene;Password=123456"/>-->
    <add name="TDConnection" connectionString="Data Source=localhost;Initial Catalog=ssframework;User Id=ssuser;Password=123456"/>
  </connectionStrings>
</configuration>